.main_container_footer{
    height: 706px;
    background-color: #fafafa;
    display: flex;
    align-items: end;
    justify-content: center;
}

.grid_row_links_padding{
    width: 1052px;
    height: 178px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    padding: 80px 0;
}

.info_txt_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_txt_links h3{
    color: #252B42;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.info_txt_links p,
.info_txt_links a{
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}


/*icons*/

.row_icons_social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    cursor: pointer;
}


@media (min-width: 701px) and (max-width: 1120px){
    .main_container_footer{
        height: 915px;
    }

    .grid_row_links_padding{
        width: 100%;
        height: 460px;
    }

    .grid_row_links_padding{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        padding: 50px 75px;
        text-align: center;
    }

    .row_icons_social_media{
        justify-content: center;
    }
}

/*mobile*/
@media (max-width: 700px) {
    .main_container_footer{
        height: 915px;
    }

    .grid_row_links_padding{
        width: 100%;
        height: 460px;
    }

    .grid_row_links_padding{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        padding: 50px 75px;
        text-align: center;
        justify-content: center;
    }
}



/*mobile*/
@media (max-width: 500px){
    .main_container_footer{
        height: 980px;
    }

    .grid_row_links_padding{
        height: 541px;
    }

    .grid_row_links_padding{
        gap: 20px;
        padding: 50px 60px;
    }

    .info_txt_links h3,
    .info_txt_links p,
    .info_txt_links a{
        text-align: center;
    }
}