.main_container_home{
    height: 752px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*background-multimedia*/
.video{
    object-fit: cover;
    width: 100%;
    height: 752px;
    position: absolute;
    z-index: -1;
}

/*info home*/
.info_container{
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    cursor: pointer;
}

.txt_size_info_projects h1{
    color: #252B42;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
}

.txt_size_info_projects p{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

/*cards design*/

.container_data_projects{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0 195px;
}

.size_card_project{
    width: 217px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    text-align: center;
}

.size_card_project h2{
    margin: 0;
    color: #252B42;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.size_card_project h5{
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}

/*icon*/
.icon_users{
    width: 48px;
    height: 39px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px){
    .container_data_projects{
        display: grid;
        grid-template-columns: auto auto;
    }

    .size_card_project{
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    .size_card_project h2{
        font-size: 30px;
    }

    .size_card_project h5{
        font-size: 13px;
    }
}


/*mobile*/
@media (max-width: 700px){

    .container_data_projects{
        display: grid;
        grid-template-columns: auto auto;
    }

    .size_card_project{
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    .size_card_project h2{
        font-size: 30px;
    }

    .size_card_project h5{
        font-size: 13px;
    }

}

/*mobile*/
@media (max-width: 500px){
    .main_container_home{
        height: 1185px;
    }

    .container_data_projects{
        grid-template-columns: auto;
        padding: 0 115px;
    }

    .info_container{
        height: 640px;
    }

    /*background-multimedia*/
    .video{
        height: 1200px;
    }

}