.main_container_contact{
    background-image: url("../../assets/mapcover.png");
    height: 460px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.main_container_card_contact{
    width: 100%;
    height: 573px;
    padding:  160px 0 96px 95px;
    position: static;
    display: flex;
    justify-content: center;
}

.txt_info_card_contact{
    width: 932px;
    height: 493px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    color: #252B42;
}

.txt_theme h5{
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.txt_theme h2 {
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}


.grid_form_contact{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 20px;
}

.txt_input{
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 11px 350px 11px 21px;
}

.text_select{
    color: #BDBDBD;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    padding: 11px 310px 11px 21px;
}

.textarea_container{
    width: 900px;
    height: 140px;
    align-self: center;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    background-color: #f9f9f9;
}

.button_form{
    border-radius: 5px;
    background-color: #23A6F0;
    color: #FFFFFF;
    border: none;
    padding: 15px 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.button_form:hover{
    color: #252B42;
    transition-duration: 0.9s;
}