.main_bar_position{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.bar_container_txt{
    height: 91px;
    display: flex;
    padding: 0 195px;
    align-items: center;
    gap: 61px;
    background-color: rgba(45, 45, 45, 0.50);
    color: #FFFFFF;
}

.brand{
    font-size: 23px;
}

.nav_page a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {


}


/* Mobile */
@media (max-width: 700px) {

}
