.main_bar_position{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.bar_container_txt{
    height: 91px;
    display: flex;
    padding: 0 195px;
    align-items: center;
    gap: 61px;
    background-color: rgba(45, 45, 45, 0.50);
    color: #FFFFFF;
}

.brand{
    font-size: 23px;
}

.nav_page a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .bar_container_txt {
        padding: 0 61px;
        gap: 40px;
    }

    .brand {
        font-size: 20px;
    }

    .nav_page a {
        font-size: 12px;
    }
}


/* Mobile */
@media (max-width: 700px) {
    .bar_container_txt {
        padding: 0 60px;
        gap: 20px;
        height: 70px;
    }

    .brand {
        font-size: 18px;
    }

    .nav_page a {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .bar_container_txt {
        width: 430px;
    }

    .brand {
        display: none;
    }

    .nav_page a {
        font-size: 15px;
    }
}